<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530793332806-ahivvan6leb5j7akasba30981lm9rpr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530793332806-ahivvan6leb5j7akasba30981lm9rpr4</string>
	<key>API_KEY</key>
	<string>AIzaSyDiMZ8GZ--HSu7JVbkC1w8ZJwdkGB4AsKA</string>
	<key>GCM_SENDER_ID</key>
	<string>530793332806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reva</string>
	<key>PROJECT_ID</key>
	<string>careseeker-9533b</string>
	<key>STORAGE_BUCKET</key>
	<string>careseeker-9533b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530793332806:ios:96f4fe859fea80b82b8a47</string>
</dict>
</plist>